@media screen and (max-width: 768px) {
header, header > menu{
    flex-flow: column nowrap;
    align-items: center;
}

header > menu > a{
    width: 90vw;
    margin: 5px 0;
    font-size: 1.1em;
}
}